@charset "UTF-8";
/* CSS Document */

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	/*-webkit-transform: translateZ(0);*/
	/*-webkit-perspective: 1000;*/
	/*-webkit-backface-visibility: hidden;*/
}

.inactive, [data-is-loading=false], [data-visible=false]{
	display: none !important;
}

.loading{
	position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: 100%;
    z-index: 999;
    background: rgba(255,255,255,.9);
}

.loading img{
	width: 50px;
	height: 50px;
}

.loading .status{
	margin-top: 1em;
	font-weight: 600;
}

h1,h2,h3,h4,h5,h6{
	font-family: "proxima-nova", 'Proxima Nova', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

html{
	height:100%;
	width:100%;
	background-color:white;
	background-position:center 0px;
	background-size:100%;
	font-size: 14px;
}

body{
	font-family: "proxima-nova", 'Proxima Nova', Arial, Helvetica, sans-serif;
	/*font-family: sans-serif;*/
	font-size: 15px;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

#home{
	width: 100%;
	height: 100%;
}

#home #container{
	position: fixed;
	top: 20vh;
	padding: 1em;
	width: 100%;
}

#home #container img{
	width: 130px;
    margin-bottom: 0.5em;
}

#home #container h3{
	font-weight: 400;
	font-size: 15px;
	padding-left: 4px;
}

#search{
	width: 100%;
	position: fixed;
	top: 0;
	transform: translateY(0);
	z-index: 1000;
	background: white;
	border-bottom: 1px solid black;
	transition: transform 0.2s ease-in;
	
}

#search[data-firstload="true"]{
	transform: translateY(40vh);
    border-bottom: 0px solid black;
}

form{
	padding: 1em;
}

form input[type="text"]{
	font-weight: 400;
	font-size: 1em;
	padding: 0.5em 0.3em;
	border: 2px solid black;
	border-width: 0 0 1px 0;
	outline: none;
	width: 100%;
}

#geolocation{
	color: #0279cd;
	font-weight: 600;
	text-decoration: none;
	margin-top: 0.5em;
	display: block;
	padding: 0 0.3em 0;
	cursor: pointer;
}

#timesContainer{
    padding-top: 85px;
    padding-bottom: 30%;
}

#timesContainer h2{
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 0.5em;
	background: black;
	color: white;
	margin-bottom: 1em;
}

#timesContainer h2 span{
	font-size: 10px;
	margin-left: 1em;
	line-height: 1em;
}

#timesContainer .listing{
	padding: 0 1em;
}

#timesContainer .listing ol{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-top: 0.8em;
    padding-bottom: 1em;
}

#timesContainer .listing ol li{
	display: block;
	width: 55px;
	margin-bottom: 0.5em;
	padding: 0.5em;
	text-align: center;
}

#timesContainer .listing ol li.missed{
	text-decoration: line-through;
	opacity: 0.5;
}

#timesContainer .listing ol li.nextTime{
    color: #0279cd;
    border-radius: 3px;
    font-weight: 600;
    border: 1px solid #0279cd;
    border-width: 1px 0;
}

.dayoffset{
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100%;
	overflow-x: scroll;
	padding: 0.8em;
	border-top: 1px solid black;
	align-items: center;
	background: white;
	z-index: 1000;
	transition: transform 0.2s ease-out;
}

.dayoffset a{
	display: block;
	color: #3a3a3a;
	margin-right: 2em;
	text-decoration: none;
	font-weight: 200;
	padding: 0.4em 0.7em;
}

.dayoffset a.activeDay{
	background: black;
    color: white;
    border-radius: 3px;
	font-weight: 600;
}

.dayoffset[data-active="false"]{
	transform: translateY(100%);
}

.spin{
	animation: spinAnimation 1.25s infinite;
	-moz-animation: spinAnimation 1.25s infinite;
	-webkit-animation: spinAnimation 1.25s infinite;
	-o-animation: spinAnimation 1.25s infinite;
}

@keyframes spinAnimation{
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@-moz-keyframes spinAnimation{
	0% {-moz-transform: rotateZ(0deg);}
	100% {-moz-transform: rotateZ(360deg);}
}
	
@-webkit-keyframes spinAnimation{
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}
	
@-o-keyframes spinAnimation{
	0% {-o-transform: rotateZ(0deg);}
	100% {-o-transform: rotateZ(360deg);}
}