@charset "UTF-8";
/* CSS Document */

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*-webkit-transform: translateZ(0);*/
	/*-webkit-perspective: 1000;*/
	/*-webkit-backface-visibility: hidden;*/
}

.inactive, [data-is-loading=false]{
	display: none !important;
}

.dim{
	opacity: 0.2;
}

.highlight{
	opacity: 1 !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: "proxima-nova", 'Proxima Nova', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	height:100%;
	width:100%;
	background-color:white;
	background-position:center 0px;
	background-size:100%;

}

body{
	font-family: "proxima-nova", 'Proxima Nova', Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
	box-sizing:border-box;

	/*background-image: url("assets/images/logo_small.png");
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: 99% 99%;*/
}

form, input{
	font-family: "proxima-nova", 'Proxima Nova', sans-serif;
}

input{
	border: none;
	background: none;
	font-size: 15px;
	max-width: 90px;
	outline: none;
	padding-right: 20px;
	padding: 0px;
}

#goArrow{
	right: 0px;
}

input{
	max-width: 96%;
	padding-right: 15px;
	box-sizing: border-box;
	margin-right: 5px;
}

input:focus{
	/*border-bottom: 1px solid #a3a3a3;*/
	box-shadow: 0 1px 0.1px #a3a3a3;
}

form button[type=submit]{
	position: absolute;
	background-color: rgba(0,0,0,0);
	border: 0;
	display: block;
	height: 20px;
	width: 20px;
	background-image: url("assets/images/go.png");
	background-size: 10px;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-top: -20px;
	right: 6px;
	cursor: pointer;
}

#sidebar{
	width: 10%;
	/*border-right: 1px solid black;*/
	height: 100%;
	padding-left: 25px;
	box-sizing:border-box;
	float: left;
}

#sidebar #sbAlign{
	position: relative;
	top: 50%;
	margin-top: -60px;
}

#sidebar form{
	margin-bottom: 20px;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6{
	font-weight: 100;
}

#sidebar h3{
	font-size: 20px;
}

#sidebar #geotrigger{
	font-size: 10px;
	cursor: pointer;
	color: rgb(98, 191, 244);
}

#results{
	width: 90%;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling:touch;
	overflow-x:hidden;
	/*background-color: red;*/
	float: left;
	box-sizing:border-box;
	padding-top: 25px;
	padding-left: 25px;
}

#results h1{
	width: 100%;
	/*color: #a3a3a3;*/
	color: black;
	font-size: 28px;
	margin-bottom: 15px;
	float: left;
}

#results ul, #results li, #results ul li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

#results ul{
	width: 100%;
	height: auto;
	float: left;
	margin-left: 3px;
	margin-bottom: 40px;
}

#results ul li{
	width: 350px;
	display: inline-block;
	margin-right: 70px;
	margin-bottom: 45px;
	
	-webkit-transition: opacity linear 0.5s;
	transition: opacity linear 0.5s;

}

#results ul li[data-all-missed=true]{
	opacity: 0.2;
}

#results ul li[data-all-missed=true]:hover{
	opacity: 0.5;
}

#results ul li h3{
	font-weight: 400;
	font-size: 21px;
	margin-bottom: 12px;
}

#results ul li h3.shortened:hover{
	/*width: 500px;
	z-index: 50000;
	background: white none repeat scroll 0% 0%;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.3);
	border-radius: 5px;*/
}

#results ul li .times{
	width: 100%;
	height: 50px;
}

#results ul li .times a{
	display: inline-block;
	margin-right: 12px;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
}


#results ul li .times a.missed{
	font-weight: 100;
	color: rgba(0,0,0,.5);
}

#results ul li .times a.next{
	font-weight: 600;
	color: #62bff4;
}

#helper{
    position: fixed;
    top: 50%;
    left: 10%;
    padding-left: 88px;
    margin-top: -50px;
    background-image: url("assets/images/pointer.png");
    background-repeat: no-repeat;
    background-position: 0 5px;
}

#loading{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
}

#dialog{
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 300px;
	margin-left: -150px;
}

#dialog.error{
	color: #ED6868;
}

#logo{
	width: 100px;
	height: 22px;

	background-image: url("assets/images/logo_small_opaque.jpg");
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: 50%;

	position: fixed;
	bottom: 1%;
	right: 1%;
}

#madeby{
	position: fixed;
	bottom: 1%;
	left: 1%;
	text-decoration: none;
	color: black;
	background-color: white;
}

#madeby a{
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}

.spin{
	animation: spinAnimation 1s infinite;
	-moz-animation: spinAnimation 1s infinite;
	-webkit-animation: spinAnimation 1s infinite;
	-o-animation: spinAnimation 1s infinite;
}

@keyframes spinAnimation{
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@-moz-keyframes spinAnimation{
	0% {-moz-transform: rotateZ(0deg);}
	100% {-moz-transform: rotateZ(360deg);}
}
	
@-webkit-keyframes spinAnimation{
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}
	
@-o-keyframes spinAnimation{
	0% {-o-transform: rotateZ(0deg);}
	100% {-o-transform: rotateZ(360deg);}
}

@media all and	(max-width: 1336px) and (min-width: 1024px){

	#results ul li{
		width: 320px;
		margin-right: 55px;
	}

}

@media all and	(max-width: 1024px){

	#sidebar{
		width: 15%;
	}

	#results{
		width: 85%;
	}

	#helper{
		left: 15%;
	}
}

@media all and	(max-width: 800px){

	#sidebar{
		width: 100%;
		margin: 0px;
		padding: 0px;
		height: auto;
		background-color: #FAFAFA;
		position: fixed;
		z-index: 10;
	}

	#sidebar #sbAlign{
		margin: 0px;
		position: static;
		top: 0px;
		padding: 10px 8px 6px 8px;
	}

	#sidebar #sbAlign h3{
		font-size: 15px;
		float: left;
		width: 60px;
		font-weight: 400;
	}

	#sidebar #geotrigger{
		float: right;
		right: 30px;
		position: absolute;
		top: auto;
		margin-top: 3px;
	}

	#sidebar form{
		margin-bottom: 5px;
	}

	#sidebar input{
		font-size: 13px;
		margin-left: 10px;
		width: 50%;
		font-weight: 400;
	}

	#sidebar input:focus{
		box-shadow: none;
	}

	#results{
		width: 100%;
		padding: 0px;
		height: auto;
		padding-top: 64px;
		box-sizing:border-box;
	}

	#results > *{
		box-sizing:border-box;
	}

	#results h1{
		font-size: 20px;
		background: #FAFAFA;
		border-top: 1px solid rgba(0,0,0,0.1);
		padding: 10px;
	}

	#results ul{
		padding: 10px;
	}

	#results ul li{
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0px;
	}

	#results ul li h3{
		font-size: 18px;
	}

	#results ul li .times {
		height: auto;
	}

	#helper{
		left: 50%;
		width: 250px;
		margin-left: -125px;
		padding: 0px;
		text-align: center;
		background-image: url("assets/images/pointer_up.png");
		background-position: 50% 0;
		padding-top: 45px;
		top: 95px;
	}

	#goArrow{
		border: 1px solid black;
		border-radius: 100%;
		margin-right: 5px;
		padding: 0;
	}

	#madeby{
		bottom: 25px;
		left: inherit;
		right: 1%;
	}

}
